:root{
  --navColor: #333;
  --mainAccent: rgb(76, 159, 65);
  --accent2:  rgb(22, 86, 45);
  --mainBackground: rgb(34, 34, 34);
  --textColor: white;
}

body{
  background-color: var(--mainBackground);
  margin: 0px;
  font-family: "Lucida Sans Typewriter", Courier, monospace;
  color: var(--textColor);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;

}

.navbarS {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  flex-grow: 2;
}

.navbar a {
  font-size: 20px;
  color: var(--textColor);
  text-align: center;
  padding: 32px 16px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 36px;  
  border: none;
  outline: none;
  color: var(--textColor);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--mainAccent);
}

.dropdown-content {
  display: none;
  font-size: smaller;
  position: absolute;
  background-color: var(--navColor);
  min-width: 256px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--textColor);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: srgb(130, 130, 130);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.link {
  color:var(--mainAccent);
}

.link:hover{
  color:var(--accent2)
}

footer {
  background-color: var(--navColor);
  color: var(--textColor);
  padding: 16px;
  font-size: 14px;
}