:root{
  --navColor: #333;
  --mainAccent: rgb(76, 159, 65);
  --accent2:  rgb(7, 113, 46);
  --mainBackground: rgb(34, 34, 34);
  --textColor: white;
}

body{
  background-color: var(--mainBackground);
  margin: 0px;
  font-family: "Lucida Sans Typewriter", Courier, monospace;
  color: var(--textColor);
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  overflow-y:auto;
  height: 50vh;
  background-color: var(--navColor);
}

.galleryImg{
  height: 40vh;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.galleryImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.galleryText{
  color: var(--textColor);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.galleryImg img:hover + .galleryText{
  display: block;
}

.galleryImg img:hover{
  opacity: .3;
}

.galleryHeader{
  background-color: var(--navColor);
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 0px;
}

.maintext{
  color:var(--textColor)
}

.main
{
  color: var(--textColor);
  margin-left: 16px;
  margin-right: 16px;
}

.mainSplit{
  margin-top: 16px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}

.mainSplitBox{
  background-color: var(--navColor);
  padding: 16px;
}

.navbar {
  background-color: var(--navColor);
  display: flex;
  align-items: baseline;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarS {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2;
  align-items: stretch;
}

.navbar a {
  font-size: 20px;
  color: var(--textColor);
  text-align: center;
  padding: 32px 16px;
  text-decoration: none;
  margin-right: 16px;
}

.topicName {
  font-size: 32px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projects figure{
  color: var(--textColor);
  font-size: 24px;
  text-align: center;
  padding: 16px;
}

.projects a figure img {
  width: 500px;
  height: 350px;
  object-fit: scale-down;
}

.projects figure:hover{
  background-color: var(--navColor);
}

.projecs a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

.projectdate{
  font-size: 16px;
  font-style: italic;
}

.projImg{
  width: 300px;
  height: 250px;
  object-fit: scale-down;
}

.articleImg{
  max-width: 400px;
  max-height: 300px;
  object-fit: scale-down;
  float: right;
  padding: 16px;
}

.articleImgMain{
  max-width: 400px;
  max-height: 300px;
  object-fit: scale-down;
  float: right;
  padding: 0px 16px 16px 16px;
}

.vids{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectPage {
padding: 0px 48 0px 48;
}

.headshot{
  object-fit: scale-down;
  padding: 0px 16px 16px 0px;
  float:left;
  width:256px;
}

.excerpt{
  padding: 0px 16px 16px 16px;
}

.navbar a:hover {
  background-color: var(--mainAccent);
}

.link {
  color:var(--mainAccent);
}

.link:hover, a link:hover{
  color:var(--accent2);
}

.logo :hover{
  background-color: var(--navColor);
}

footer {
  background-color: var(--navColor);
  color: var(--textColor);
  padding: 16px;
  font-size: 14px;
  position: sticky;
  margin-top: 16px;
  bottom:0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--navColor); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainAccent); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent2); 
}


@media screen and (max-width: 768px){
  /* place here CSS targeted at iPads and smaller, including iPhones and small hand-held devices */
  
  .navbar {
    flex-direction: column;
  }

}