<img src="{{"assets/images/headshot.JPG" | relative_url }}" class="headshot">
<div>Purdue Mechanical Engineering Class of 2025</div>
<p></p>

<p>What motivates me as an engineer, is expanding the breadth of problems I can solve, or
    more plainly: the cool stuff I can make. I am constant learner, whether its new a programming language,
    a new way to make parts, or a project idea I can't stop thinking about, I am always looking for new ways to 
    improve and add new skills.
</p>

<p>
    Website description
</p>