<h1>About Me</h1>

    <div class="headshotBox">
        <img src="{{"assets/images/headshot.JPG" | relative_url }}" class="headshot">
        <p>Purdue Mechanical Engineering Class of 2025</p>
    </div>


    <p>What motivates me as an engineer is expanding the breadth of problems I can solve, or
        more plainly: the cool stuff I can make. I am constant learner, whether its new a programming language,
        manufacturing technique, or a project idea I can't stop thinking about. I am always looking for ways to 
        improve and develop new skills.
    </p>
    <p>
    This website is both a portfolio of past projects and a place to share what I'm currently working on. 
    I consider it a hybrid of documentation and personal journal. Enjoy!
    </p>

<h2>Contact Information</h2>

    <div style="display: flex; flex-direction:column">
        <p>email: mlewton@purdue.edu<br>phone: 240-755-7376</p>
        <div style="display:flex; gap:8px;">
            <a class="link" href="{{ "assets/misc/Matthew_Lewton_Resume.pdf" | relative_url }}"><h3>Resume</h3></a>
            <a class="logo" href="https://www.linkedin.com/in/matthew-lewton9" target="_blank" rel="noopener noreferrer"><img width="64" src="{{"assets/images/linkedin.png" | relative_url }}"></a>
            <a class="logo" href="https://github.com/matt-lewton9" target="_blank" rel="noopener noreferrer"><img width="64" src="{{"assets/images/github.jpg" | relative_url }}"></a>     
        </div>
    </div>