
<div class="headshotBox"style=>
    <img src="{{"assets/images/headshot.JPG" | relative_url }}" class="headshot">
    <p>Purdue Mechanical Engineering Class of 2025</p>
</div>


<p>What motivates me as an engineer, is expanding the breadth of problems I can solve, or
    more plainly: the cool stuff I can make. I am constant learner, whether its new a programming language,
    a new way to make parts, or a project idea I can't stop thinking about. I am always looking for ways to 
    improve and add new skills.
</p>
<p>
This website is both a portfilio of past projects and a place to share what I'mm currently working on. 
I consider it a hybrid of documentation and personal journal. Enjoy!
</p>