<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ "assets/images/icon2.png" | relative_url }}" rel="icon" media="(prefers-color-scheme:no-preference)">
    <link href="{{ "assets/images/icon2dark.png" | relative_url }}" rel="icon" media="(prefers-color-scheme:dark)">
     
    <title>{{ page.title }} - Matt Lewton</title>

    <link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}?">
</head>