<div class="navbar">
    <a  href="{{ "index.html" | relative_url  }}">Matthew Lewton</a>
    <div class="navbarS">
    <a href="{{ "pages/about.html" | relative_url  }}">About</a>
    <a href="{{ "pages/blog.html" | relative_url  }}">Latest Projects</a>       
    <a href="{{ "pages/manufacturing.html" | relative_url  }}">Manufacturing</a>
    <a href="{{ "pages/programming.html" | relative_url  }}">Programming</a>
    <a href="{{ "pages/design.html" | relative_url  }}">Design</a>
    </div>

    <a onclick="showNav()" class="navIcon"><i class="fa fa-bars"></i></a>

</div>


<script>
    function showNav() {
      var x = document.getElementById("navbarS");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
</script>