<div class="navbar">
    <a  href="{{ "index.html" | relative_url  }}" style="width: fit-content;">Matthew Lewton</a>
    <div class="navbarS" id = "menu">
      <a href="{{ "pages/design.html" | relative_url  }}">Design</a>
      <a href="{{ "pages/programming.html" | relative_url  }}">Programming</a>
      <a href="{{ "pages/manufacturing.html" | relative_url  }}">Manufacturing</a>
      <a href="{{ "pages/blog.html" | relative_url  }}">Latest Projects</a>   
      <a href="{{ "pages/about.html" | relative_url  }}">About</a> 
    </div>

    <a href="javascript:void(0);" onclick="showNav()" class="navIcon"><img src="{{ "assets/images/menu.png" | relative_url }}"></i></a>
</div>

<script>
    function showNav() {
      var x = document.getElementById("menu");
      if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
}
</script>