---
---

<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link href="/static/J50.jpg" rel="icon"> -->

    <title>{{ page.title }} - Matt Lewton</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css"/>
</head>

<body>
    <div class="navbar">
        <a  href="{{ site.baseurl }}/index.html">Matthew Lewton</a>
        <div class="navbarS">
        <a href="{{ site.baseurl }}/index.html">About</a>
        <a href="{{ site.baseurl }}/blog.html">Latest Projects</a>       
        <a href="#">Manufacturing</a>
        <a href="#">Programming</a>
        <a href="#">Engineering</a>
        </div>
    </div>
<div class="main">
    {{ content }}
</div>
</body>

<footer>
Matthew Lewton, 2022. This website was built with Jeckyll and styled myself, no CSS libraries! Code on <a class="link", href="https://github.com/matt-lewton9/Portfolio-Website" >Github</a>
</footer>